extends layout

block content
  h1= title
  - var results = car_results
  div.container-fluid 
    div.row 
        each item, index in results
            div.col-sm-2(onclick=`buy(${index})`) car name: #{item["car_name"]} <br> car color: #{item["car_color"]} <br> car size: #{item["car_size"]} 

  script.
    function buy(index) {
      alert("You purchased item " + index)
    }